.AboutUs__body {
    width: 100%;
    height: 240px;

    padding-left: var(--page_margins);
    padding-right: var(--page_margins);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.icon__block {
    font-size: 18pt;
}


@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
    .AboutUs__body {
        height: 660px;
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}