:root {
  --color_main: #F5F7FA;
  --color_blue: #2E3E4A;
  --color_black: #292321;
  --color_accent: #D46539;

  --page_margins: 12.5vw;
}

* {
    font-family: "Open Sans";
}

body {
    background-color: var(--color_main);
}

.App {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

.Container {
    display: flex;
    flex-direction: column;
    row-gap: 180px;
    align-items:center;
}

.accentText {
    color: var(--color_accent);
    font-weight: bolder;
}

.banner__Btn {
    width: 345px;
    height: 75px;

    background-color: var(--color_accent);
    color: var(--color_main);
    font-size: 18pt;
    font-weight: 600;
    font-stretch: condensed;

    text-align: center;
    display: flex;
    justify-content: center; /* по горизонтали */
    align-items: center;
}

.banner__Btn:hover {
    filter: brightness(1.1);
    font-size: 19pt;
    transition: font-size 0.1s ease-in;
}


.block__WithHeader {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    row-gap: 30px;

    align-items: center;
}

.block__WidthHeader__Header {
    font-family: "SovMod";
    font-size: 36pt;
}


.icon__block {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    align-items: center;
}

.icon__icon {
    width: 100px;
    height: 100px;
    color: var(--color_black);
}

.icon__text {
    width: auto;
    height: auto;
    text-align: center;
}


@media screen and (max-width: 1440px) {
    :root {
        --page_margins: 40px;
    }

    .banner__Btn {
        width: 325px;
    }
}

@media screen and (max-width: 1024px) {
    :root {
        --page_margins: 40px;
    }

    .Container {
        row-gap: 90px;
    }

    .banner__Btn {
        width: 295px;
        font-size: 15pt;
    }

    .block__WithHeader {
        row-gap: 20px;
    }

    .block__WidthHeader__Header {
        font-size: 30pt;
    }

    .icon__icon {
        width: 80px;
        height: 80px;
    }

    .icon__text {
        font-size: 14pt;
    }
}

@media screen and (max-width: 768px) {
    :root {
        --page_margins: 20px;
    }

    .banner__Btn {
        width: calc(100vw - 2 * var(--page_margins));
        font-size: 15pt;
    }

    .block__WithHeader {
        row-gap: 15px;
    }

    .block__WidthHeader__Header {
        font-size: 24pt;
    }

    .icon__icon {
        width: 60px;
        height: 60px;
    }

    .icon__text {
        font-size: 14pt;
    }
}
