:root {
  --color_main: #F5F7FA;
  --color_blue: #2E3E4A;
  --color_black: #292321;
  --color_accent: #D46539;

  --page_margins: 12.5vw;
}

* {
    font-family: "Open Sans";
}

body {
    background-color: var(--color_main);
}

.App {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

.Container {
    row-gap: 180px;
}

.accentText {
    color: var(--color_accent);
    font-weight: bolder;
}

.banner__Btn {
    width: 345px;
    height: 75px;

    background-color: var(--color_accent);
    color: var(--color_main);
    font-size: 18pt;
    font-weight: 600;
    font-stretch: condensed;
}

@media screen and (max-width: 1440px) {
    :root {
        --page_margins: 40px;
    }

    .banner__Btn {
        width: 325px;
    }
}

@media screen and (max-width: 1024px) {
    :root {
        --page_margins: 40px;
    }

    .Container {
        row-gap: 90px;
    }

    .banner__Btn {
        width: 295px;
        font-size: 15pt;
    }
}

@media screen and (max-width: 768px) {
    :root {
        --page_margins: 20px;
    }

    .banner__Btn {
        width: calc(100vw - 2 * var(--page_margins));
        font-size: 15pt;
    }
}
