:root {
  --color_main: #F5F7FA;
  --color_blue: #2E3E4A;
  --color_black: #292321;
  --color_accent: #D46539;

  --page_margins: 12.5vw;
}

@font-face {
  font-family: 'SovMod';
  src: local('SovMod'), url(../fonts/SovMod.ttf) format('ttf');
}

* {
    font-family: "Open Sans";
}

body {
    background-color: var(--color_main);
}

.App {
    display: flex;
    row-gap: 180px;
    align-items: center;
    flex-direction: column;
}


.accentText {
    color: var(--color_accent);
    font-weight: bolder;
}

@media screen and (max-width: 1440px) {
    :root {
        --page_margins: 40px;
    }
}

@media screen and (max-width: 1024px) {
    :root {
        --page_margins: 40px;
    }

    .App {
        row-gap: 90px;
    }
}

@media screen and (max-width: 768px) {
    :root {
        --page_margins: 20px;
    }
}
