.CTA__body {
    height: 480px;
    background-color: var(--color_blue);
    width: 100vw;

    padding-left: var(--page_margins);
    padding-right: var(--page_margins);
}

.CTA__contents {
    width: 100%;
    height: 100%;
    float: right;

    display: flex;
    flex-direction: row;
    justify-content:space-between;
    column-gap: 20px;
}

.CTA__contents img {
    flex: 1 1 auto;
    height: 100%;
    max-width: 832px;
    min-width: 0px;
    width: auto;
    object-fit: cover;
}

.CTA__infoBlock {
    flex: 0 0 auto;
    width: 587px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.CTA__textBlock {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.CTA__header .accentText {
    font-weight: inherit;
}

.CTA__header {
    text-align: right;
    font-size: 48pt;
    font-stretch: condensed;
    font-weight: 600;
    color: var(--color_main);
}

.CTA__text {
    text-align: right;
    font-size: 30pt;
    font-stretch: condensed;
    font-weight: 300;
    color: var(--color_main);
}

.CTA__infoBlock .banner__Btn {
    float: right;
    margin-bottom: 30px;

    width: 345px;
}



@media screen and (max-width: 1440px) {
    .CTA__body img {
        max-width: 785px;
    }
}

@media screen and (max-width: 1024px) {
    .CTA__body {
        height: 356px;
    }

    .CTA__body img {
        max-width: 583px;
    }

    .CTA__infoBlock {
        width: 367px;
    }

    .CTA__header {
        font-size: 30pt;
    }

    .CTA__text {
        font-size: 24pt;
    }
}

@media screen and (max-width: 768px) {
    .CTA__body {
        height: 480px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .CTA__body img {
        max-width: 100vw;
        height: 220px;
    }

    .CTA__contents {
        flex-direction: column;
        justify-content: flex-start;
        column-gap: 0px;
        row-gap: 0px;
    }

    .CTA__infoBlock {
        width: auto;
        height: auto;

        padding-left: var(--page_margins);
        padding-right: var(--page_margins);

        row-gap: 30px;
    }

    .CTA__header {
        font-size: 24pt;
    }

    .CTA__text {
        font-size: 18pt;
    }

    .CTA__infoBlock .banner__Btn {
        width: 100%;
        height: 60px;
        margin-bottom: 20px;
    }
}