





.hero__image {
    height: 874px;
    overflow: hidden;

    justify-content: center;
}

.hero__image img {
    object-fit: cover;
    height: 874px;
    width: 100vw;
}

.hero__bannerInfo {
    height: 814px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-end;

    margin-right: var(--page_margins);
    margin-top: 30px;

    position: relative;
    top: -874px;

    float:right;
}


.hero__textBlock {
    width: 800px;
    text-align: right;
    display: flex;
    flex-direction: column;
}

.hero__header {
    font-family: "SovMod";
    font-size: 48pt;
}

.hero__text {
    font-size: 36pt;
    font-stretch: expanded;
    font-weight: 300;
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1024px) {
    .hero__image {
        height: 600px;
    }
    .hero__image img {
        height: 600px;
    }

    .hero__bannerInfo {
        width: 600px;
        height: 540px;
        top: -600px;
    }

    .hero__header {
        font-size: 30pt;
    }

    .hero__text {
        font-size: 24pt;
    }
}

@media screen and (max-width: 768px) {
    .hero__image {
        height: 780px;
    }
    .hero__image img {
        height: 780px;
    }

    .hero__bannerInfo {
        width: 350px;
        height: 720px;
        top: -780px;
    }

    .hero__header {
        font-size: 18pt;
    }

    .hero__text {
        font-size: 18pt;
    }
}